.navbar {  /* нав бар */
background: #4884b1;
}

#navtext{
color: white;
font-size: 20px
}


#carisel{
	background-image: url(fon.jpg);
}


body{

background: url(gass2.jpg) no-repeat center center fixed;
background-size: cover;
}
.glav{
	text-align: center;
}

.center{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 20pt;
	color: white
}



#cent{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 20pt;
	color: white
}

#crosh{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	
	
}
#one{
	font-size: 10pt;
	color: white
}

#two{
	font-size: 10pt;
	color: black
}

.col-3{
	text-align: justify;
}

.scrollbar {
	background-color: #9dc8e8
	background-position: 25% 75%;
}
.bar{
	padding-top: 70px
}

#onas{
	font-size: 15pt;
	text-align: center;
	color: white;

}
#scrollspyHeading4{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 20pt;
	background-color: #4884b1;
	background-size: contain;
	color: white;
}
#calc{
	background-color: #f1eff1;
	background-size: contain;
	margin-top: 50px;
	margin-bottom: 50px;
	
}
#nepos{
	width: 580px;
}
#plus{
width: 580px;
}

#calchead{
	background-color: #4884b1;
	border-bottom: 5px;
	border-top:  5px;
	border-left: 5px;
	border-right: 20px;
	border-color: black;
	text-align: center;
	color: white;


}


#calcbtn{
	background-color: #9dc8e8;
	margin-left: 35px
}

#price{
	background-color: white;
}
#footer{
	margin-top: 40px
}
#oplata{
	width: 45px;
	height: 37px
}

#sn{
	width: 40px;
	height: 40px
	margin-left: 20px;
	margin-right: 20px;
}
#foot{
}
#reg{
margin-top: 150px;
margin-bottom: 100px;
}